<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>OwnerTen</key>
	<dict>
		<key>name</key>
		<string>Audrey Ling</string>
	</dict>
	<key>OwnerNine</key>
	<dict>
		<key>name</key>
		<string>Jeannette Goon</string>
	</dict>
	<key>OwnerEight</key>
	<dict>
		<key>name</key>
		<string>Josh Teng</string>
	</dict>
	<key>OwnerSeven</key>
	<dict>
		<key>name</key>
		<string>You Jing Wong</string>
	</dict>
	<key>OwnerSix</key>
	<dict>
		<key>name</key>
		<string>Faris Roslan</string>
	</dict>
	<key>OwnerFive</key>
	<dict>
		<key>name</key>
		<string>Ming Xiang Chan</string>
	</dict>
	<key>OwnerFour</key>
	<dict>
		<key>name</key>
		<string>Abdo Haseem</string>
	</dict>
	<key>OwnerThree</key>
	<dict>
		<key>name</key>
		<string>Daniel Chong</string>
	</dict>
	<key>OwnerTwo</key>
	<dict>
		<key>name</key>
		<string>Michael Chan</string>
	</dict>
	<key>OwnerOne</key>
	<dict>
		<key>name</key>
		<string>Jeremy Ong</string>
	</dict>
</dict>
</plist>
